/* ----------------Matches style------------ */
.matches {
    display: flex;
    justify-content: center;
    margin: 40px 140px 70px 140px;
    border-radius: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.card {
    border: 1px solid gray;
    padding: 30px 7px;
    text-align: center;
    border-radius: 5px;
}

.vs-flag {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vs-flag div {
    margin: 5px;
}

.match-info h5 {
    margin: 0px;
    color: gray;
}

/* ------------------Side nav style-------------------*/
#side-nav {
    margin-right: 11px;
}
.anchor-1 {
    color: white;
    background-color: red;
    border-color: red;
}

.anchor-3 {
    color: black;
    background-color: white;
}

/* ---------------mobile devices style----------------- */

@media screen and (max-width:480px) {
    .matches {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        margin: 0;
    }

    .cards {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0;
        margin-bottom: 30px;
    }

    .card {
        margin: 0px 15px 15px 15px;
    }
    .anchor-3{
        border: 1px solid gray;
    }
}
/* ---------------Tablet devices style----------------- */
@media screen and (min-width:481px) and (max-width:768px) {
    .matches {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        margin: 20px 10px;
    }

    .cards {
        width: 97%;
        grid-template-columns: repeat(2, 1fr);
        margin: 30px;
    }
}

/* -----------------for large screens------------------ */
@media screen and (min-width:1367px) and (max-width:1980px) {
    .vs-flag img{
        width: 100%;
    }
    .cards{
        width: 100%
    }
    .matches {
        margin: 0 auto;
        width: 85%;
        margin-bottom: 50px;
    }
}