/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* ---------------------animations------------------- */

/* -------------animation section title-------------------- */
@keyframes slider {
    25% {
        color: white;
    }

    50% {
        color: cadetblue;
    }

    75% {
        color: rgb(24, 24, 221);
    }

    100% {
        color: cadetblue;
    }
}

/* --------------------animation - football -------------------- */
@keyframes rotating {

    100% {
        left: 400px;
        top: 330px;
        transform: rotate(1500deg);
    }
}

.fa-futbol {
    color: white;
    font-size: 60px;
    position: relative;
    animation: rotating 5s ease-in-out 0.2s infinite alternate;
    animation-play-state: running;
}

/* ---------first section style---------- */

.container {
    display: flex;
    justify-content: center;
    background-color: #050427;
    margin: 40px 140px 70px 140px;
    border-radius: 30px;
}

.section-title {
    font-size: 3em;
    margin-bottom: 0.3em;
    animation: slider 2s ease-out 2s infinite alternate;
    animation-play-state: running;

}

.header-writing {
    width: 40%;
    padding: 2em 0.3em 2em 5em;
    color: white;
}

.header-image {
    width: 60%;
    display: flex;
    justify-content: end;
}

.header-image img {
    width: 531px;
    height: 563px;
    padding: 20px 20px 0px;
    display: flex;
    align-content: flex-end;
}

.button-link {
    text-decoration: none;
    color: white;
}

.button-icon {
    display: flex;
    align-items: center;
    color: white;
    background-color: #dd0000;
    width: 35%;
    margin-top: 30px;
    padding: 0.5em 0.2em 0.5em 1em;
    border-radius: 5px;
    transition: width 0.5s, font-size 0.5s;
}

.button-icon:hover {
    width: 50%;
    font-size: 25px;
}

.fa-solid.fa-angle-right {
    margin-left: 1em;
}

/*------------- second section style------------- */

.blogs {
    display: flex;
    justify-content: center;
    /* background-color: #161616; */
    margin: 40px 120px 70px 120px;
    border-radius: 30px;
}

.side-nav {
    width: 300px;
    height: 316px;
    display: flex;
    flex-direction: column;
    background-color: #050427;
    text-align: center;
    border-radius: 0.8em;
    margin-right: 1.2em;
}

.nav-details {
    display: flex;
    flex-direction: column;
}

.anchor-1,
.anchor-2,
.anchor-3 {
    text-decoration: none;
    color: #161616;
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 7px;
}

.anchor-3 {
    color: white;
    background-color: #dd0000;
}

.main-part {
    display: flex;
    justify-content: center;
}


.contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    width: 240px;

}

.content img {
    width: 240px;
}

.content-info {
    border: 1px solid gray;
    margin-top: -7px;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.go-button {
    width: 5em;
    padding: 0.2em 1em;
    margin-top: 1em;
    margin-left: 1.2em;
    font-size: 0.9em;
    border: 1px solid black;
    border-radius: 0.3em;
    background-color: white;
}

.content-heading {
    text-align: left;
    margin: 0.5em 1em;
}

.duration-comments {
    display: flex;
    margin-left: 1.2em;
    align-items: center;
    margin-top: -1em;
}

.duration,
.comments {
    display: flex;
    align-items: center;
}

.duration div,
.comments div {
    margin-right: 1em;
}

#view-button {
    display: none;
}

/* ------------------footer styles------------------ */

footer {
    background-color: #050427;
    color: white;
    text-align: center;
    padding: 90px 0px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 60px;
}

.footer-links {
    display: flex;
    flex: row wrap;
    justify-content: space-around;
    margin: 0 250px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.social-links {
    display: none;
}



/* --------------------
media styles - Mobile View
-------------- */

@media screen and (max-width:480px) {
    .fa-futbol {
        display: none;
        animation-play-state: paused;
    }

    .container {
        display: block;
        background-color: #161616;
        border-radius: 15px;
        margin: 10px 13px;
        padding: 20px 30px;
    }


    .header-writing {
        width: 100%;
        padding: 0px;
        color: white;
        text-align: center;
        margin: 0 auto;

    }

    .header-writing p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .section-title {
        font-size: 30px;
        text-align: center;
        margin: 0;
    }

    .header-image {
        width: 70%;
        display: block;
        margin: 0 auto;
        margin-bottom: -20px;
        margin-top: 10px;
    }

    .header-image img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .button-icon {
        width: max-content;
        margin: 0 auto;
        padding: 5px 10px;
    }

    .fa-solid.fa-angle-right {
        margin-left: 1em;
    }

    /*------------- second section style------------- */

    .blogs {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        margin: 0;
    }

    .side-nav {
        margin: 20px 10px;
        background: none;
        height: 100%;
    }

    .anchor-1,
    .anchor-2,
    .anchor-3 {
        text-decoration: none;
        border: 1px solid gray;
        margin: 10px;
        padding: 10px;
    }

    .anchor-2,
    .anchor-3 {
        margin-left: 50px;
        margin-right: 50px;
    }

    .anchor-3 {
        border: none;
    }

    .main-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .contents {
        grid-template-columns: repeat(1, 1fr);
        width: 93%;
        row-gap: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 7px 0px;

    }

    .content img {
        width: 100%;
    }

    footer {
        margin-top: 40px;
        padding: 20px 0px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .footer-links div {
        padding: 20px;
    }


    .social-links {
        display: flex;
        justify-content: space-around;
        margin: 30px 100px;
    }

    .social-links a {
        font-size: 30px;
        color: white;
    }
}

/* --------------------
media styles - Tablet View
-------------- */

@media screen and (min-width:481px) and (max-width:768px) {
    .fa-futbol {
        display: none;
        animation-play-state: paused;
    }

    .container {
        display: flex;
        background-color: #161616;
        border-radius: 15px;
        margin: 20px;
        padding: 20px 30px;
    }


    .header-writing {
        width: 100%;
        padding: 10px;
        color: white;
        text-align: left;

    }

    .section-title {
        font-size: 40px;
        text-align: left;
        margin: 0;
    }

    .header-image {
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: -20px;
        margin-top: 10px;
    }

    .header-image img {
        width: 100%;
        height: 100%;
        display: flex;

        padding: 0px;
    }

    .button-icon {
        width: max-content;
        padding: 5px 10px;
    }

    .fa-solid.fa-angle-right {
        margin-left: 1em;
    }

    /*------------- second section style------------- */

    .blogs {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        margin: 20px 10px;
    }

    .side-nav {
        width: 100%;
        height: 100%;
        background: none;
        margin: 0 auto;
    }

    .nav-details {
        flex-direction: row;
        justify-content: space-between;
    }

    .anchor-1,
    .anchor-2,
    .anchor-3 {
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        width: 160.84px;
    }

    .anchor-3 {
        border: red;
    }

    .main-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .contents {
        grid-template-columns: repeat(2, 1fr);
        width: 97%;
        row-gap: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 7px 0px;

    }

    .content img {
        width: 100%;
    }

    #view-button {
        display: block;
        margin: 0 auto;
        font-size: 20px;
        color: white;
        background-color: #DD0000;
        border: none;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 10px 20px;
    }

    footer {
        padding: 20px 0px;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
    }

    .footer-links div {
        padding: 20px;
    }

    .grid-5 {
        grid-column: 1/span 2;
        text-align: right;
    }
}

/* -----------------for large screens------------------ */
@media screen and (min-width:1367px) and (max-width:1980px) {
    .blogs img {
        width: 100%;
    }

    .content {
        width: 100%
    }

    .blogs {
        margin: 0 auto;
        width: 85%;
    }
}